<div class="about_container">
    {$article}
</div>
<script>
var pic_url = "http://img.cdn.hlzblog.top/17-6-25/32561501.jpg";
// $(".global_container").attr({"background: none"});
$(".global_container").attr({ "style": "opacity: 0.9;width: 800px;background: rgb(245, 235, 235);" });
$(".nav .global_container").attr({ "style": "opacity: 1;width: 1120px;background: none" });
$("#show_container").css({
    "background-image": "url(" + pic_url + ")",
    "background-attachment": "fixed",
    "background-size": "100% 100%",
    "background-repeat": "no-repeat"
});
</script>