<html>
<head>
	<meta charset="UTF-8">
	<title>云天河官网</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<!-- Scripts -->
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/static/js/index.js"></script>

	<!-- HTML Templates-->
	<script type="text/yth_tpl" id="mall_tpl">
		<div class="title" id="mall">
		    <h1 title="点击进入商城" onclick="window.open('http://mall.hlzblog.top/')">
		    	<font color="#EEB4B4">HLZ</font> <font color="#5fb878">Mall</font> <font color="#009688">~</font> <font color="#01aaed">Version</font> <font color="#ff572">2.0</font>
		    </h1>
		    <h3 title="点击进入商城" onclick="window.open('http://mall.hlzblog.top/')">
		    	http://mall.hlzblog.top/
		    </h3>
		    <h5 >
		    	<font color="#E9967A">@Powered By </font> <a href="/blog" target="_blank">云天河Blog</a>
		    </h5>
		</div>
	</script>

</head>
	
<!-- Container-->
<body></body>



</html>
